<section class="banner">

</section>
<section class="container my-3">
    <section class="row">
        <section class="col-8">
            <h1>Hoteles</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aspernatur eius consectetur est, in, ab et libero ut nemo natus cum iste neque aliquid! Nulla iure vero cum incidunt, non, laudantium voluptates dolores voluptatem velit ducimus id veniam magnam facere error ea nobis neque aut placeat odit. Aliquam laboriosam, illum veniam expedita accusamus tempora earum soluta quae sunt molestias minima neque! Porro, distinctio autem fugit neque veritatis eius. Ipsam, voluptas.</p>
        </section>
        <section class="col-4">
            <img src="../../assets/foto.jpg" alt="" class="img-fluid w-100">
        </section>
    </section>
</section>
<section>
    <app-habitaciones></app-habitaciones>
</section>
